.slider-image{
    background-image: url(images/cover/cover-1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.slider-image-2{
    background-image: url(images/cover/cover-2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.modal-header{
    background-color: blue;
    color: #fff;
}